/* ADDED STYLE TO THE HEADER */
.app-header {
  position: relative;
  background-color: bisque;
  z-index: 0;
  box-shadow: inset 0px -6px 0 #1d1d1d;
  height: 120px; 
}

.app-header h1 {
  /* height: 120px;
  font-style: oblique;
  display: flex; 
  align-items: center; 
  margin-left: 10px; */

}

.app-header .app-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.app-header .app-nav a {
  margin-left: 1rem;
  border-inline-end: 1px solid #1d1d1d;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.4s;
  padding: 15px ;
}

.app-header .app-nav a.active {
  box-shadow: inset 10px -1px 10px 0px gray;
  
  cursor: auto;
}

.app-header .app-nav a:hover {
  box-shadow: inset 10px -1px 10px 0px gray;
  color: grey;
  cursor: pointer;
}

.app-header .app-nav a:last-child {
  border-inline-end: none; 
}

/* TILL HERE */
/* .app-header {
  position: relative;
  background-color: var(--clr4);
  color: var(--clr0);
  z-index: 1;
  box-shadow: inset 0px -6px 0 var(--clr6);
  max-height: var(--nav-height);
} */


.red {
    color: red;
}

.green {
    color: green;
}

form {
  margin-bottom: 20px;
}

.on-sale {
    position: absolute;
    background-color: red;
    color: white;
    padding: 1px;
    font-weight: bold;
    width: 35%;
    height: 20%;
    top: 10px;
    right: -30px;
    color: white;
    font-size: 10px;
    transform: rotate(45deg);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 200px;
  position: relative;
}

.card-img {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  
  padding: 10px;
  flex: 1;
  display: inline-block;
  background-color: bisque;
  flex-direction: column;
}

.card-info h2 {
  font-family: 'Kristen ITC', cursive;
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-details h1 {
  font-family: 'Kristen ITC', cursive;
  font-size: 30px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
}

button {
    
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: flexbox; */
    border-radius: 30px;
    font-size: 0.8em;
    margin: 4px 2px;
    /* margin-top: 30px;
    margin-bottom: 10px; */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
  }
  
  button:hover {
    background-color: grey; 
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); 
  }

  .add-book {
    text-align: center;
    /* display: flex;
    flex-direction: column; */
  }

  .add-book-btn{
    margin-bottom: 10px; 
    
  }

  .user-msg {
    position: absolute;
    bottom: 0;
    right: 1em;
    background-color: rgba(211, 211, 211, 0.8);
    color: lightgoldenrodyellow;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1em;
    border-radius: 5px 5px 0 0;
}

.book-details{
  text-align: center;
  align-items: center;
}

